{% extends 'tracken/base.html' %}

{% block title %}Progress{% endblock %}
{% block header %}
<h2>Your IDS Progress</h2>
{% endblock %}

{% block content %}
<p>
    <h3>
        <a href="{% url 'tracken:new-entry' year=year %}">
            <button>Log a new entry</button>
        </a>
    </h3>
</p>
<div class="hourStatus">
    <p>{{ hours_spent }} out of {{ hours_goal }} hours logged</p>
    <div>
        <a href="{% url 'tracken:edit-goal' pk=year %}"><button>Edit goal</button></a>
    </div>
</div>

{% if entry_list %}
<ul>
    {% for entry in entry_list %}
    <li>
        <a href="{% url 'tracken:entry' pk=entry.id %}">
            {{ entry.goal }}
            <span class="right">{{ entry.work_date }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You haven't logged any IDS work yet. Get cracking!</p>
{% endif %}
{% endblock %}